version: '3.8'

services:
  mysql:
    image: mysql:8.0
    container_name: mysql
    restart: always
    env_file:
      - .env.mysql
    volumes:
      - dbdata:/var/lib/mysql
    ports:
      - "3306:3306"

  redis:
    image: redis:7
    container_name: redis
    restart: always

  backend:
    build:
      context: ./backend-duroob
      dockerfile: Dockerfile
    container_name: backend
    env_file:
      - ./backend-duroob/.env
    depends_on:
      - mysql
      - redis
    volumes:
      - ./backend-duroob:/var/www/html
    expose:
      - "9000"
    restart: always

  frontend:
    build:
      context: ./client-front
      dockerfile: Dockerfile
    container_name: frontend
    expose:
      - "80"
    restart: always

  admin:
    build:
      context: ./admin-dashboard
      dockerfile: Dockerfile
    container_name: admin
    expose:
      - "80"
    restart: always

  nginx:
    image: nginx:stable
    container_name: nginx
    depends_on:
      - backend
      - frontend
      - admin
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/conf.d:/etc/nginx/conf.d
      - ./certbot/www:/var/www/certbot
      - ./nginx/ssl:/etc/letsencrypt
    restart: always

  certbot:
    image: certbot/certbot
    container_name: certbot
    volumes:
      - ./certbot/www:/var/www/certbot
      - ./nginx/ssl:/etc/letsencrypt

volumes:
  dbdata:
