version: '3.8'

services:
  mysql:
    image: mysql:8.0
    container_name: mysql
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: DuR00b@Root2025!
      MYSQL_DATABASE: duroobomantours
      MYSQL_USER: duroobuser
      MYSQL_PASSWORD: DuR00b@User2025!
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql

  redis:
    image: redis:7
    container_name: redis
    restart: always

  backend:
    build:
      context: ./backend-duroob
      dockerfile: Dockerfile
    container_name: backend
    env_file:
      - ./backend-duroob/.env
    depends_on:
      - mysql
      - redis
    volumes:
      - ./backend-duroob:/var/www/html
    expose:
      - "9000"
    restart: always

  frontend:
    build:
      context: ./client-front
      dockerfile: Dockerfile
    container_name: frontend
    expose:
      - "80"
    restart: always

  admin:
    build:
      context: ./admin-dashboard
      dockerfile: Dockerfile
    container_name: admin
    expose:
      - "80"
    restart: always

  nginx:
    image: nginx:stable
    container_name: nginx
    depends_on:
      - backend
      - frontend
      - admin
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/conf.d:/etc/nginx/conf.d
      - ./certbot/www:/var/www/certbot
      - /etc/letsencrypt:/etc/letsencrypt   # <- use host path
    restart: always


  certbot:
    image: certbot/certbot
    container_name: certbot
    volumes:
      - ./certbot/www:/var/www/certbot
      - ./nginx/ssl:/etc/letsencrypt

volumes:
  mysql_data:

